{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{listing.title}}</h2>

    {% comment %} photo {% endcomment %}
    <img src="{{listing.image_url}}" alt="" class="img-fluid"/>
    <p>{{listing.description}}</p>
    <h3>${{listing.current_price}}</h3>

    {% comment %} bid info + placing a bid {% endcomment %}
    {% comment %} watchlist {% endcomment %}
    {% if user_logged_in %}
        {% if in_watchlist %}
            <form method="post" action="{% url 'remove_from_watchlist' listing.id %}">
            {% csrf_token %}
                <button type="submit" class="btn btn-primary">Remove from Watchlist</button>
            </form>
        {% else %}
            <form method="post" action="{% url 'add_to_watchlist' listing.id %}">
            {% csrf_token %}
                <button type="submit" class="btn btn-primary">Add to Watchlist</button>
            </form>
        {% endif %}

        {% if listing.is_active %}
            {% if display_close_listing %}
                <form method="post" action="{% url 'close_listing' listing.id %}">
                {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Close Listing</button>
                </form>
            {% endif %}
            <form method="post" action="{% url 'bid' listing.id %}">
                {% csrf_token %}
                <p>Place a bid</p>
                <input type="number" step=".01" name="new_bid">
                <input type="submit" value="Place Bid" >
            </form>
        {% endif %}
    {% endif %}


    <div>
        <h3>Details</h3>
        <ul>
            <li>Listed by: blah</li>
            <li>Category: {{listing.category}}</li>
        </ul>
    </div>
{% endblock %}