{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    <ul>
        {% for listing in listings %}
            {% comment %} https://getbootstrap.com/docs/4.3/components/card/#horizontal {% endcomment %}
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                    <img src="{{listing.image_url}}" class="card-img" alt="..." style="height: 100%; object-fit: cover; width:15vw">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{listing.title}}</h5>
                        <p class="card-text">{{listing.description}}</p>
                        <p class="card-text"><small class="text-muted">creation time: {{listing.creation_time}}</small></p>
                        <a href="{% url 'listing' listing.id %}" class="btn btn-primary">Check Listing</a>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}